*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    /*background: rgba(244, 234, 196, 0.6);*/

}
.with-bg{
    background: white;
}

/*header*/
.logo{
    float: left;
}
.logo span{
    font-family: 'Cormorant Infant', serif;     color:#C8861C ;
}
.logo span:hover{
    transition: 0.7s;     color:#ffffff ;
}

.navbar{
    margin-bottom: 0!important;     background: rgba(0,0,0,0.6);
}
  .glyphicon {
    color: white;
}
.nav{
    max-width: 101%;
}
.nav>li{
     display: inline-block;       width: 13%; border: 1px solid white;     border-radius: 8px;     margin:1% 0.8% ;
}
.nav>li>a {
    /*font-family: 'Cormorant Infant', serif;*/
    font-family: 'Marck Script', cursive;     font-size: 1.45em;     color: #fff;     text-align: center;     padding: 5px 2px ;
   }
.nav>li>a:hover {
    color: #C8861C;   background: none;     transition: 0.8s;
    }
.nav> li:hover{
    border: 1px solid #C8861C;     transition: 0.8s;
}


/*slider*/
.slider h2{
    font-size: 4em; font-family: 'Marck Script', cursive; color: #C8861C; text-shadow: black 1px 1px 2px;
}
.carousel-caption{
    padding-bottom: 25%;
}
.carousel-caption> img{
    max-width: 75%;
}



.kvadro{
    background: url('../images/night-vintage-music-bokeh.jpg')  ;   background-size: cover;  font-size: 1.2em; color: white; padding: 20px 60px;
    border-radius: 30px;
}
.kvadro> p{
background: none!important; color: white!important;
}



/*team*/
.about_onen{
    background-image: url("../images/pexels-photo.jpg");     background-size: 350%; border-radius: 15px;
}
.about{
    margin: 80px 0;     text-align: center; display: block;
  }
.about h2{
     font-size: 3.5em; margin-bottom: 30px;
 }
.about h3{
    color:#C8861C ;     font-size: 2.5em;     padding-top: 40px;
}
.about h4{
    color:white ;     font-size: 1.7em; padding: 20px 0;
}
.soc-photo{
    position: relative;     display: block;     width: 100%;     margin-bottom: 20px;
}
.soc-img{
   display: block;    max-width: 100%;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1;
}

.soc-btn{
    display: block;     position: absolute;     width: 100%;
    bottom: 0;
    padding:9px 0;
    opacity: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background: rgba(255,255,255,0.7);
}
.soc-photo:hover> .soc-img{
  display: block;    max-width: 120%;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    border: none;
    transition: 0.7s;
    margin-bottom: 10px;
}
.soc-photo:hover> .soc-btn{
    opacity: 1;    transition: 0.7s;    bottom: -12px;
}
.soc-btn i{
    color: #555555;     font-size: 25px; padding: 0 10px;
}
.soc-btn i:hover{
    color: #C8861C;     font-size: 30px; transition: 0.7s;
}
.about p{
    margin-top: 10px;     color:black ;     background: rgba(255,255,255,0.6);     font-size: 1.2em;
}


/*media*/
.work{
    display: block; margin-top: 80px;
}
.work> h2{
    font-size: 3.5em;
    margin-bottom: 50px;
    text-align:  center;
}
.work h3{
    font-size: 2.5em;
    text-align:  center;
}
.work p{
    font-size: 1.4em;
    text-align:  center;
    padding: 20px 0;
}
.media{
    position: relative;
    text-align: center;
    display: block;
    width: 100%; background: white;
}

.foto {
    position:relative; display: block;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1;
}
.foto img{
   max-width: 75%; border-radius: 90px;
}

.vinyl {
    position: absolute; top: 0;left:0; max-width: 100%; opacity: 0; display: block;
}
.vinyl img{
max-width: 90%;
}
.media:hover> .foto {
    display: block;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    border: none;
    transition: 1s;
    margin-bottom: 10px;
    z-index: 10;
}

.media:hover> .vinyl {
    max-width: 100%;
    position: absolute;  opacity: 1; z-index: 1; transition: 0.8s; margin-left: 45%; margin-top: 16%;
}
.media:hover> .vinyl> img{

    max-width: 120%;
}
/*slide soundcloud*/

.soundcloud{
    max-width: 100%;
    display: block; margin: 50px auto ; text-align: center;

}
.soundcloud h2{
    font-size: 3em; font-family: 'Cormorant Infant', serif;
}
.cloud-font{
    background: url("../images/pexels-photo-164736.jpg");
    background-size: cover;
    margin: 100px 0;
}
.soundcloud .carousel-control{
    background: none;
    color:#C8861C ;
}
.carusel-audio iframe{
    width: 70%; display: block; margin: 0 auto; padding: 40px 0 110px 0;
}
.caption{
    position: absolute;
    right: 15%;
    top: 60%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff; font-size: 1.5em;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

}
/*slide youtube*/

.youtube{
    max-width: 65%;
    display: block; margin: 50px auto 50px auto ; text-align: center;

}
.youtube h2{
    font-size: 4em; color: white; font-family: 'Cormorant Infant', serif;
}
.youtube-font{
    background: url("../images/PG1906_BarnImages.com-10.jpg");
    background-size: auto;
    margin: 150px 0 80px 0;

}
.youtube .carousel-control{
    background: none;     color:white ; max-height: 80%;
}
.youtube .carousel-control span{
    font-size: 60px;
}
.carusel-Youtube iframe{
   display: block; margin: 0 auto; padding: 40px 0 60px 0;
}
.subscribe{
    background: rgba(25,25,25,0.2); padding: 0 60px; color: red; font-family: 'Marck Script', cursive; font-size: 1.0em; border-color: white;
}
.sub-btn{
   display: block; margin: 0 auto; padding-top: 10px ;
}

/* galery*/
.galery-font{
    background: rgba(210, 177, 44, 0.9);
}
.galery{
    text-align:center; margin-bottom: 40px;
}
.galery div{
    margin-bottom: 30px ;
}
.galery h2{
    font-size: 4em; color: white; font-family: 'Cormorant Infant', serif; text-shadow: black 1px 1px 2px;
}

/*team*/
.team{
    text-align: center; display: block; margin: 60px 0;
}
.team h2{
    font-size: 4em; color: black; font-family: 'Cormorant Infant', serif;
}
.team i{
    font-size: 6em; color: red;
}
.team div{
    margin: 30px 0;
}
.team p{
    font-size: 1.6em; padding: 20px 10px;
}
.fa-border{
    padding: .2em .25em .15em;
    border: solid .03em rgba(210, 177, 44, 0.9);;
    border-radius: 100%;
}

/*service*/
.service-font{
    background: url("../images/black_paper.jpg"); color: white; display: block;
}
.service{
  max-width: 40%; display: block; margin: 90px auto; text-align: center; line-height: 2.5;
}
.service-text{
    border: 2px solid white; border-radius: 30px; background: rgba(0,0,0,0.3); margin: 40px 0 20px 0; font-size: 1.5em;
}
.service h2{
    font-size: 4em; color: white; font-family: 'Cormorant Infant', serif;
}
.service-text> ul> li{
    list-style:none!important; border-bottom: 1px solid gray; margin: 10px 20px; font-size: 1.2em;
}
.service-text> ul> a> li:last-child{
    border-bottom: none; list-style: none!important;
}
/*contact form*/
.my-form{
    background: url("../images/night-vintage-music-bokeh.jpg"); background-size:140%;  text-align: center;
    padding: 20px 60px; border-top: 2px solid white; font-size: 1.6em;
}
.my-form input[placeholder]{
    font-size: 0.8em;
}
.my-form h2{
    font-size: 3.8em; color: white; text-shadow: black 1px 1px 2px; font-family: 'Cormorant Infant', serif; padding-bottom: 30px;
}
.chk-box{
    text-align: left; color: white; text-shadow: black 1px 1px 2px;
}
.chk-box label{
    font-size: 0.8em;
}
.ser-btn{
    padding: 10px 50px; text-shadow: black 1px 1px 1px; font-size: 1em;
}
.ser-btn:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); transition: 0.4s; border: 1px solid white;
}
/*contact*/
.contact-font{
    background: url("../images/background-image-for-website-6.jpg"); background-size: cover; padding-bottom: 30px; border-top: 2px solid white;
}
.contact{
    text-align: center;
    color: white;
}
.contact h2{
    font-size: 3.2em; color: white; text-shadow: black 1px 1px 2px; font-family: 'Cormorant Infant', serif;
}
.contact h4{
    text-align: center; padding-bottom: 20px;
}
.soc i{
    font-size: 3.8em; padding: 10px; color: #F0AD4E;
}
.soc i:hover{
     border: 2px solid white; transition: 0.5s ; border-radius: 20%;
}
.number{
    text-align: left; padding-left: 90px;
    font-size: 1.6em ;
}
/*footer*/
footer{
    padding: 20px 0;
    background: url("../images/black_paper.jpg");
    color: white; text-align: center;
}

